
.icon-heart:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-heart-1:before { content: '\e802'; } /* '' */
.icon-up-hand:before { content: '\e803'; } /* '' */
.icon-up-hand-1:before { content: '\e804'; } /* '' */
.icon-heart-circled:before { content: '\e805'; } /* '' */
.icon-heart-empty:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */